.sets-title {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.recent-sets {
  width: 60%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(90,90,90,.8);
  margin-bottom: 20px;
}

hr {
  width: 10%;
}