.search-div {
  text-align: center;
  margin-top: 14%;
  #searchbar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    padding: 10px;
  }
  #search-button {
   height: 30px;
   width: 100px; 
   margin-top: 10px;
  }
  h2 {
    font-size: 48px;
    color: white;
    margin-bottom: 10px;
  }
}