@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  padding: 5px;
  background: url("assets/backgrounds/fd.png") no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.nav-sidebar {
  position: fixed;
}